@tailwind base;
@tailwind components;
@tailwind utilities;

#data-incident-banner[aria-hidden='true'] {
  grid-template-rows: 0fr;
}

#data-incident-banner {
  transition: all 50ms;
  grid-template-rows: 1fr;
  display: none;
}

#data-incident-banner > div {
  overflow: hidden;
}

.hover-arrow:hover {
  svg {
    width: 24px;
    margin-left: 2px;
    transition: width 150ms ease-in-out, margin 150ms linear 50ms;
  }
}

/* on hover, animate to look like someone is circling something with a pen */

.hover-underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
    border-radius: 10px;
    height: 0;
    background-color: white;
    transition: height 125ms linear;
  }

  &:hover {
    &::after {
      height: 3px;
      transition: height 150ms ease-out 25ms;
    }
  }
}

svg {
  display: initial;
  vertical-align: initial;
}

body {
  line-height: 1;
}

input {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: rgb(82, 82, 82);
}

* {
  font-size: 1rem;
}

/*
**********************
*****NOT FOR PROD*****
**********************
main a {
  text-decoration: none;
  border-bottom: 1px dotted #bababa;
}

*/

/* NOTE

REMOVE STYLES
  - INPUT ::PLACEHOLDER
  - HTML, HOST FONT-FAMILY
*/
